<div class="container mt-5">
  <div class="row mb-4">
    <div class="col-12 text-center">
      <h2>Créer Animal</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form [formGroup]="animalForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Nom</label>
          <input id="name" class="form-control" formControlName="name" />
        </div>
        <div class="form-group">
          <label for="color">Couleur</label>
          <input id="color" class="form-control" formControlName="color" />
        </div>
        <div class="form-group">
          <label for="sex">Sexe</label>
          <select id="sex" class="form-control" formControlName="sex">
            <option value="M">Mâle</option>
            <option value="F">Femelle</option>
          </select>
        </div>
        <div class="form-group" formGroupName="species">
          <label for="speciesId">Espèce</label>
          <select id="speciesId" class="form-control" formControlName="id">
            <option *ngFor="let species of speciesList" [value]="species.id">
              {{ species.commonName }}
            </option>
          </select>
        </div>
        <div class="form-group text-center">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!animalForm.valid"
          >
            Créer
          </button>
          <button type="button" class="btn btn-secondary" (click)="onCancel()">
            Annuler
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
